<div class="h-screen md:flex">
<div class="content-left md:w-1/2 flex justify-center items-center"
    style="background-image: url('/images/LogoFondo.jpg'); background-size: cover; background-position: center;">
</div>
<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
        <form class="bg-white">
            <h1 class="text-gray-800 font-bold text-2xl mb-4">Gestionar Usuario</h1>
            <a href="{{ingresarUsuarioUrl}}" class="btn-custom">
                <i class="fas fa-user-plus"></i> Ingresar Usuario
            </a>
            <a href="{{modificarUsuarioUrl}}" class="btn-custom">
                <i class="fas fa-user-edit"></i> Modificar Usuario
            </a>
            <a href="{{eliminarUsuarioUrl}}" class="btn-custom">
                <i class="fas fa-user-minus"></i> Eliminar Usuario
            </a>
        </form>
    </div>
</div>
</div>