<div class='dashboard'>
        <div class="dashboard-nav">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="#" class="brand-logo">
                    <img src="/images/Logo Transparente-Negro.png" alt="Logo" style="width: 50px; height: 50px;">
                    <span>Don Julio</span>
                </a>
            </header>
            <nav class="dashboard-nav-list"><a href="/src/html/home.html" class="dashboard-nav-item"><i
                        class="fas fa-home"></i>
                    Inicio </a><a href="/src/html/produccion.html" class="dashboard-nav-item active"><i
                        class="fas fa-tachometer-alt"></i> Producción
                </a><a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Ventas </a>
                <div class='dashboard-nav-dropdown'><a href="#!"
                        class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-photo-video"></i>
                        Pedidos </a>
                    <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a
                            href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#"
                            class="dashboard-nav-dropdown-item">Images</a><a href="#"
                            class="dashboard-nav-dropdown-item">Video</a></div>
                </div>
                <div class='dashboard-nav-dropdown'><a href="#!"
                        class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-users"></i> Users </a>
                    <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a
                            href="#" class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
                            class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#"
                            class="dashboard-nav-dropdown-item">Banned</a><a href="#"
                            class="dashboard-nav-dropdown-item">New</a></div>
                </div>
                <div class='dashboard-nav-dropdown'><a href="#!"
                        class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-money-check-alt"></i>
                        Finanzas </a>
                    <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a
                            href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#"
                            class="dashboard-nav-dropdown-item"> Projections</a>
                    </div>
                </div>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Configuración </a><a href="#"
                    class="dashboard-nav-item"><i class="fas fa-user"></i> Perfil </a>
                <div class="nav-item-divider"></div>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
            <div class='dashboard-content'>
                <div class='container'>
                    <div class='card-header'>
                        <div class='card-header'>
                            <h1>Bienvenido Don Julio</h1>
                        </div>
                        <div class='card-body'>
                        <!--    <p>Tu cuenta es de tipo: Administrator</p> -->
                        </div>
                    </div>
                </div>

                <!-- Page Content -->
                <div class="container">

                    <!-- Page Heading -->
                    <h1 class="my-4">Bienvenido
                        <small>¿Qué hay que hacer?</small>
                    </h1>

                    <div class="row">
                        <div class="col-lg-2 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="/images/LogoFondo.jpg"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Producción</a>
                                    </h4>
                                    <p class="card-text"> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="/images/LogoFondo.jpg"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Pedidos</a>
                                    </h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="/images/LogoFondo.jpg"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Ventas</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="/images/LogoFondo.jpg"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Inventario</a>
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="/images/LogoFondo.jpg"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Finanzas</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>