<!-- Sección de pestañas y contenido -->
<div class="container mt-5">
    <div class="row">
        <!-- Columna de la izquierda para las pestañas y formularios -->
        <div class="col-md-6">

            {{#if errors}}
            <div id="message" class="alert alert-danger">
                <ul>
                    {{#each errors}}
                    <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if success_msg}}
            <div class="alert alert-success">
                {{success_msg}}
            </div>
            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger">
                {{error_msg}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}

            <!-- Elemento para mostrar mensajes de validación instantánea -->
            <div id="instant-message" class="alert alert-danger" style="display: none;"></div>
            <div id="nombre-warning" class="alert alert-warning" style="display: none;">
                    Has alcanzado el límite de 15 caracteres.
            </div>
            <div id="costo-warning" class="alert alert-warning" style="display: none;">
                    Has alcanzado el límite de 4 caracteres.
            </div>
            <div id="nombre-actualizar-warning" class="alert alert-warning" style="display: none;">
                    Has alcanzado el límite de 15 caracteres.
            </div>
            <div id="costo-actualizar-warning" class="alert alert-warning" style="display: none;">
                    Has alcanzado el límite de 4 caracteres.
            </div>

            <h2>Gestión Ingredientes</h2>

            <!-- Pestañas -->
            <ul class="nav nav-tabs" id="productoTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ingresar-tab" data-bs-toggle="tab" data-bs-target="#ingresar"
                        type="button" role="tab" aria-controls="ingresar" aria-selected="true">Ingresar</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="actualizar-tab" data-bs-toggle="tab" data-bs-target="#actualizar"
                        type="button" role="tab" aria-controls="actualizar" aria-selected="false">Actualizar</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="eliminar-tab" data-bs-toggle="tab" data-bs-target="#eliminar"
                        type="button" role="tab" aria-controls="eliminar" aria-selected="false">Eliminar</button>
                </li>
            </ul>
            
            <!-- Contenido de las pestañas -->
            <div class="tab-content" id="productoTabsContent">
                <!-- Formulario de ingresar -->
                <div class="tab-pane fade show active" id="ingresar" role="tabpanel" aria-labelledby="ingresar-tab">
                    <form action="/links/ingredientes" method="POST" class="mt-3">
                        <div class="form-group row justify-content-center">
                        <label for="nombre_ingrediente" class="col-sm-2 col-form-label text-right">Nombre del Ingrediente:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nombre_ingrediente" name="nombre_ingrediente" maxlength="15" minlength="3">
                        </div>
                    </div>
                        <div class="form-group row justify-content-center">
                            <label for="costo_ingrediente" class="col-sm-2 col-form-label text-right">Costo del Ingrediente:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="costo_ingrediente" name="costo_ingrediente" maxlength="4" minlength="1">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="cantidad_ingrediente" class="col-sm-2 col-form-label text-right">Cantidad del Ingrediente:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="cantidad_ingrediente" name="cantidad_ingrediente" maxlength="4" minlength="1">
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" id="tipo_cantidad" name="tipo_cantidad">
                                    <option value="piezas">Piezas</option>
                                    <option value="kg">Kg</option>
                                    <option value="lts">Lts</option>
                                    <option value="gr">Gr</option>
                                    <option value="ml">Ml</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-sm-6 text-center">
                                <button type="submit" class="btn btn-primary mt-3">Añadir Ingrediente</button>
                            </div>
                        </div>
                    </form>
                </div>

                                <!-- Formulario de actualizar -->
                <div class="tab-pane fade" id="actualizar" role="tabpanel" aria-labelledby="actualizar-tab">
                    <form id="updateProductForm" method="POST" action="/links/actualizar-ingrediente" class="mt-3">
                        <input type="hidden" id="idIngredienteActualizar" name="idIngrediente">
                        <div class="form-group row justify-content-center">
                            <label for="nombre_ingrediente_actualizar" class="col-sm-2 col-form-label text-right">Nombre del Ingrediente:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nombre_ingrediente_actualizar" name="nombre_ingrediente" maxlength="15" minlength="3">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="costo_ingrediente_actualizar" class="col-sm-2 col-form-label text-right">Costo del Ingrediente:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="costo_ingrediente_actualizar" name="costo_ingrediente" maxlength="4" minlength="2">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="cantidad_ingrediente_actualizar" class="col-sm-2 col-form-label text-right">Cantidad del Ingrediente:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="cantidad_ingrediente_actualizar" name="cantidad_ingrediente" maxlength="4" minlength="2">
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" id="tipo_cantidad_actualizar" name="tipo_cantidad">
                                    <option value="piezas">Piezas</option>
                                    <option value="kg">Kg</option>
                                    <option value="lts">Lts</option>
                                    <option value="gr">Gr</option>
                                    <option value="ml">Ml</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-sm-6 text-center">
                                <button type="submit" class="btn btn-primary mt-3">Actualizar Ingrediente</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- Formulario de eliminar -->
                <div class="tab-pane fade" id="eliminar" role="tabpanel" aria-labelledby="eliminar-tab">
                    <form id="formEliminarProducto" method="POST" action="/links/eliminar-ingrediente" class="mt-3">
                        <div class="form-group">
                        <label for="nombre_ingrediente_eliminar">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nombre_ingrediente_eliminar" 
                            name="nombre_ingrediente_eliminar" readonly>
                        </div>
                        <button type="submit" class="btn btn-danger mt-3">Eliminar ingrediente</button>
                    </form>
                </div>

            </div>
        </div>

        <!-- Columna de la derecha para la tabla -->
        <div class="col-md-6">
            <h3>Lista de Ingredientes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre del ingrediente</th>
                        <th>Costo</th>
                        <th>Cantidad</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-ingredientes"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Incluye el script de funciones -->
<script src="/js/validadorP.js"></script>
<script src="/js/funtions.js"></script>