<!-- Page Content -->
<div class="container">

  <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Ventas</h1>

  <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-start">
    <div class="col-lg-1 col-md-2 col-3"> <!--Aqui se guardan las imagenes-->
      <a href="#" class="d-block mb-2 h-50">
        <img class="img-fluid img-thumbnail" src="/images/proceso.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-1 col-md-2 col-3">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="/images/proceso.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-1 col-md-2 col-3">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="/images/proceso.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-1 col-md-2 col-3">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="/images/proceso.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-1 col-md-2 col-3">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="/images/proceso.jpg" alt="">
      </a>
    </div>
  </div>

</div>