<!-- Seccion del encabezado -->
<nav class="navbar navbar-light">
	<div class="container-fluid">
		
		<!-- Botón de la barra lateral a la izquierda -->
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Logotipo centrado -->
		<a class="navbar-brand mx-auto" href="http://localhost:3000/links/home">
			<img class="img-fluid" src="/images/Logo Transparente.png" alt="My Brand" width="100px" height="100px">
		</a>

	</div>

	<!-- Barra lateral -->
	<div class="offcanvas offcanvas-start p-2 bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="row">
				<div class="col">
					<ul id="menu-menu-1" class="navbar-nav">
						<li class="menu-item nav-item">
							<a href="https://library.livecanvas.com/starters" class="nav-link">BS5 Page Templates</a>
						</li>
						<li class="menu-item nav-item">
							<a href="https://library.livecanvas.com/sections/" class="nav-link">BS5 Snippets</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<!-- Contenedor principal -->
<div class="container py-5">
    <div class="row">
        <!-- Columna 1: Contenedor de imágenes (ocupa 6 columnas) -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2 class="text-center">Concha</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2 class="text-center">Galletas</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 3</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 4</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 5</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 6</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 7</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 8</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 9</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 10</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 11</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-2">
                    <div class="lc-block bg-white rounded shadow">
                        <img src="/images/proceso.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                        <div class="lc-block p-4">
                            <h2>My Title 12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna 2: Tabla que ocupará la otra mitad (6 columnas) -->
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col" class="text-center">Cancelar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Concha</td>
                        <td>$</td>
                        <td class="text-center"><button type="button" class="btn btn-danger">X</button></td> <!-- Centrado en la celda -->                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Galletas</td>
                        <td>$</td>
                        <td class="text-center"><button type="button" class="btn btn-danger">X</button></td> <!-- Centrado en la celda -->                    </tr>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>empanada</td>
                        <td>$</td>
                        <td class="text-center"><button type="button" class="btn btn-danger">X</button></td> <!-- Centrado en la celda -->                    </tr>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Total</td>
                        <td>$</td>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-success me-2">Aceptar</button>
              <button type="button" class="btn btn-danger">Cancelar</button>
          </div>
        </div>
    </div>
</div>
